<section 
class="w-full bg-black relative overflow-hidden h-[60vh] rounded-2xl"
>
<img src="/images/banner.jpg" alt="" class="object-cover">

<div
class="absolute top-0 left-0 w-full h-full bg-black/50 text-white
flex flex-col gap-4 items-center justify-center
"
>
    <h1 class="text-6xl uppercase font-semibold">
        Hub High-Tech
    </h1>

    <h2
    class=" w-2/3 mx-auto text-center"
    >
        Hub HighTech — votre e‑commerce pour smartphones, PC, gaming et accessoires, avec prix justes, livraison rapide et support expert.
    </h2>

</div>
</section>
