<li
class="w-full flex flex-col p-4 bg-slate-100 rounded-2xl shadow-lg gap-3"
>
    <div class="flex w-full justify-between">
        <span
        class="text-xs font-semibold"
        >
            {{product.category}}
        </span>

        <app-like-button [liked]="product.liked" (likedChange)="onLikeClick()"/>
    </div>

    <img [src]="product.image || '/images/no-image.png'" alt="" 
    class="w-full aspect-video object-contain bg-stone-200/60 rounded-2xl">

<span
class="text-xs"
[class]="product.stock | stockStatus:'class'"
>
{{product.stock | stockStatus}} 
</span>
<strong>
    {{product.title}}
</strong>
<span
class="text-sm font-medium text-stone-700 mt-2"
>
    {{ product.price | currency:'EUR':'symbol':'0.2-2' }}

</span>

<button (click)="onAddToCart(product)" class="btn bg-black text-white hover:opacity-80 cursor-pointer">
    Ajouter au panier</button>

    <a routerLink="/product/{{product.id}}" class="underline hover:opacity-80 text-sm font-semibold">Détails</a>
</li>